{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Log in to your account{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="POST">
    {{ form.csrf_token }}
    <div class="form-group mb-3">
      {{ form.username.label(class_="form-label", for="username") }}
      {{ form.username(class_="form-control", autocomplete="off") }}
      {% for error in form.username.errors %}
        <p class="text-danger">{{ error }}</p>
      {% endfor %}
    </div>
    <div class="form-group mb-3">
      {{ form.password.label(class_="form-label", for="password")  }}
      {{ form.password(class_="form-control") }}
      {% for error in form.password.errors %}
        <p class="text-danger">{{ error }}</p>
      {% endfor %}
    </div>
    <button class="btn btn-primary" type="submit">Log in</button>
  </form>
{% endblock %}
