{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Register a new account{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="POST">
    {{ form.csrf_token }}
    <div class="form-group mb-3">
      {{ form.username.label(class_="form-label", for="username") }}
      {{ form.username(class_="form-control", autocomplete="off", aria_describedby="usernameHelp") }}
      <div id="usernameHelp" class="form-text">Username has to start with a letter,
        and can contain only letters, numbers, dashes, or underscores.<br>
        Username must be {{ lens.uname_min }}-{{ lens.uname_max }}
        characters long.</div>
      {% for error in form.username.errors %}
        <p class="text-danger">{{ error }}</p>
      {% endfor %}
    </div>
    <div class="form-group mb-3">
      {{ form.password.label(class_="form-label", for="password") }}
      {{ form.password(class_="form-control", aria_describedby="passwordHelp") }}
      <div id="passwordHelp" class="form-text">
        Your password must:
        <ul>
          <li>be {{ lens.pass_min }}-{{ lens.pass_max }} characters long,</li>
          <li>contain at least 1 lowercase letter,</li>
          <li>contain at least 1 uppercase letter,</li>
          <li>contain at least 1 number,</li>
          <li>contain at least 1 special symbol.</li>
        </ul>
      </div>
      {% for error in form.password.errors|unique %}
        <p class="text-danger">{{ error }}</p>
      {% endfor %}
    </div>
    <div class="form-group mb-3">
      {{ form.confirmation.label(class_="form-label", for="confirmation") }}
      {{ form.confirmation(class_="form-control", aria_describedby="confirmationHelp") }}
      <div id="confirmationHelp" class="form-text">Enter the same password as before,
        for verification.</div>
      {% for error in form.confirmation.errors %}
        <p class="text-danger">{{ error }}</p>
      {% endfor %}
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
  </form>
{% endblock %}
