# Python byte-compiled files
*.pyc
__pycache__/

# Instance folder
instance/

# IDE settings folder
.vscode/

# Test cache and output
.pytest-cache/
.coverage
htmlcov/

# Build and distribution folders
dist/
build/
*.egg-info/
