html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
}

header {
  color: #006494;
}

/* Navbar */
nav.navbar {
  background: #051923;
}

/* Site brand */
nav .navbar-brand {
  font-size: x-large;
}
nav .navbar-brand {
  color: #00a6fb;
}

/* Home page */
#homeSplash {
  background: #0582ca;
  background-image: var(--bs-gradient);
}

/* Post formatting */
.post .card-title,
.post .card-text {
  white-space: break-spaces;
}
.post {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
}
.post .card-header {
  border-radius: 0;
  background: #0582ca;
  background-image: var(--bs-gradient);
}
.post .card-header a {
  font-size: 0.8em;
}

/* Blockquotes on the entire website */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

/* Disable collapse animation */
#livePreview,
#markdownGuide {
  transition: none;
}

/* Topic list */
.topic-list-card {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
}
.topic-list-card .card-body {
  padding: 1.5rem 1.5rem;
  background: #0582ca;
}
.card-header .topic-link,
.topic-name a {
  color: whitesmoke;
  text-decoration: none;
}

.card-header .topic-link:hover,
.topic-name a:hover {
  color: #ffd60a;
}

.topic-list-btn {
  font-size: 1.5em;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 2;
  position: relative;
}

/* Partially collapsible posts */
.post .collapse:not(.show) {
  display: block;
  height: 21.5em;
  overflow: hidden;
}

.post .collapsing {
  height: 21.5em;
}

/* Tooltips */
.tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}
.tooltip .tooltip-arrow {
  display: none;
}

/* Topic nav tabs */
#topicNavs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#topicNavs .nav-item .nav-link {
  color: #006494;
  border-color: #006494;
}
#topicNavs .nav-item .nav-link.active {
  background: #006494;
  color: whitesmoke;
  border-color: #006494;
}
