/* Size for brand */
nav .navbar-brand {
    font-size: x-large;
}

/* Brand color */
nav .navbar-brand {
    color: #537fbe;
}

/* Post formatting */
.post .card-title,
.post .card-text {
    white-space: break-spaces;
}

/* Bugix for Summernote double caret problem with BS5 */
.note-btn.dropdown-toggle:after {
    content: none;
}
