<article class="card mb-3 post">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div>
        Author: {{ g.user.username }}
        <small>(<a class="action" href="{{ url_for('blog.update_post', id=post.id) }}">Edit</a>)</small>
      </div>
      <div>
        <small class="text-muted">{{ moment(post.created).format("dddd, MMMM Do YYYY, kk:mm") }}</small>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title">{{ post.title }}</h4>
    {% if post.body_html %}
      <p class="card-text">{{ post.body_html | safe }}</p>
    {% else %}
      <!-- Support for older posts. -->
      <p class="card-text">{{ post.body }}</p>
    {% endif %}    
  </div>
</article>
