{% extends 'base.html' %}

{% block header %}
<header class="pb-2 mb-2 border-bottom">
  <h1 class="h3">{% block title %}Add a new entry{% endblock %}</h1>
</header>  
{% endblock %}

{% block content %}
  <form method="POST">
    {% include "blog/_post_editor.html" %}
    <div class="text-end">
      <a href="{{ url_for('blog.topic', id=topic_id) }}" role="button" class="btn btn-secondary">Cancel</a>
      <button type="submit" class="btn btn-primary">Add entry</button>
    </div>
  </form>
  {% include "blog/_post_preview.html" %}
{% endblock %}
