{% extends 'base.html' %}

{% block header %}  
  <header class="pb-2 mb-2 border-bottom">
    <h1 class="h3">{% block title %}Add a new topic{% endblock %}</h1>
  </header>
{% endblock %}

{% block content %}
  <form method="POST">
    {{ form.csrf_token }}
    <div class="form-group mb-3">
      {{ form.title.label(class_="form-label", for="title") }}
      {{ form.title(class_="form-control", autocomplete="off") }}
    </div>
    <button type="submit" class="btn btn-primary">Add topic</button>
  </form>
{% endblock %}
