{% extends 'base.html' %}

{% block header %}
  <header class="pb-2 mb-2 border-bottom">
    <h1 class="h3">{% block title %}{{ topic.name }}{% endblock %}</h1>

    <!-- Complete Flask-Moment initialization -->
    {{ moment.include_moment() }}
  </header>  
{% endblock %}

{% block content %}  
  <div class="row">
    <div class="col">
      <p class="text-start">Showing entries {{ posts.first }} to {{ posts.last }} of {{ posts.total }}</p>
    </div>
    <div class="col">
      {% if g.user == topic.author %}
        <p class="text-end"><a role="button" class="btn btn-success btn-sm bi-plus-lg"
            href="{{ url_for('blog.create_post', id=topic.id) }}">&nbsp;New entry</a>
        </p>
      {% endif %}
    </div>
  </div>
  {% for post in posts %}
    {% include "blog/_single_post.html" %}
  <!-- 'else' in Jinja loops is equivalent to 'empty' in Django -->
  {% else %} 
    <p class="text-muted">There are no entries for this topic yet.</p>
  {% endfor %}

  <nav aria-label="Blog entries pages.">
    <ul class="pagination justify-content-center">
      {% if posts.has_prev %}
        <li class="page-item"><a class="page-link" href="{{ prev_url }}">Newer</a></li>
      {% endif %}
      {% for page in posts.iter_pages(left_edge=2, left_current=2, right_current=3, right_edge=2) %}
        {% if page %}
          {% if page != posts.page %}
            <!-- unknown arguments in url_for() will be treated as GET parameters -->
            <li class="page-item"><a class="page-link" href="{{ url_for('blog.topic', id=topic.id, page=page) }}">{{ page }}</a></li>
          {% else %}
            <li class="page-item active"><a class="page-link">{{ page }}</a></li>
          {% endif %}
        {% else %}
          <li class="page-item disabled"><a class="page-link">&hellip;</a></li>
        {% endif %}
      {% endfor %}
      {% if posts.has_next %}
        <li class="page-item"><a class="page-link" href="{{ next_url }}">Older</a></li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}

{% block scripts %}
  <!-- JS for partially collapsing long posts -->
  <script type="text/javascript" src="{{ url_for('static', filename='partial_collapse.js') }}"></script>
{% endblock scripts %}
