{% extends 'base.html' %}

{% block header %}
  <header class="text-center mb-4 text">
    <h1 class="h3">{% block title %}{{ topics_title }}{% endblock %}</h1>
    <p class="lead">{{ topics_lead }}</p>
  </header>
{% endblock %}

{% block content %}
  <section class="container" id="topicNavs">
    <ul class="nav nav-tabs mb-3">
      <li class="nav-item">
        {% if filter=='personal' %}
          <a class="nav-link active" aria-current="page">Your topics</a>
        {% elif g.user %}
          <a class="nav-link"
            href="{{ url_for('blog.topics', filter='personal') }}">Your topics</a>
        {% else %}
          <span data_bs_toggle="tooltip" id="topicsDisabled">
            <a class="nav-link disabled">Your topics</a>
          </span>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if filter=='public' %}
          <a class="nav-link active" aria-current="page">Public topics</a>
        {% else %}
          <a class="nav-link"
            href="{{ url_for('blog.topics', filter='public') }}">Public topics</a>
        {% endif %}
      </li>
    </ul>

    {% if filter=='personal' %}
      <a class="btn btn-success bi-plus-lg" href="{{ url_for('blog.create_topic') }}"
          role="button">&nbsp;New topic</a>
    {% endif %}
  </section>

  {% for topic in topics %}
    <div class="card mb-3 topic-list-card">
      <div class="card-body row text-center">
        <div class="col-md-9 text-md-start topic-name">
          <h4><a class="stretched-link" href="{{ url_for('blog.topic', id=topic.id) }}">{{ topic.name }}</a></h4>
        </div>
        <div class="col-md-3 text-md-end align-self-center">
          {% if g.user and g.user==topic.author %}
            <a class="btn btn-warning bi-gear topic-list-btn me-1 border border-primary text-primary"
              role="button" title="Edit topic" href="{{ url_for('blog.update_topic', id=topic.id) }}"></a>
            <a class="btn btn-success bi-pencil-square topic-list-btn ms-1 px-3 border border-light"
              role="button" title="Add new post" href="{{ url_for('blog.create_post', id=topic.id) }}"></a>
          {% else %}
            <p class="text-light m-0">By: <em>{{ topic.author }}</em></p>
          {% endif %}
        </div>
      </div>
    </div>
  <!-- 'else' in Jinja loops is equivalent to 'empty' in Django -->
  {% else %} 
    <h4 class="text-muted mb-3">No topics have been added yet.</h4>
  {% endfor %}
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ url_for('static', filename='topics.js') }}"></script>
{% endblock scripts %}
